<!DOCTYPE html>
<html>
<head>
<title>Task Manager</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
<h2>Your Tasks</h2>

<form action="/add" method="POST">
<input name="task" placeholder="New task" required>
<button>Add</button>
</form>

<ul>
{% for task in tasks %}
<li class="{{ 'done' if task['status'] else '' }}">
{{ task['content'] }}

<a href="/complete/{{task['id']}}">✔</a>
<a href="/delete/{{task['id']}}">❌</a>
</li>
{% endfor %}
</ul>

<a href="/logout">Logout</a>
</div>

</body>
</html>